/* ShinyProbability */

@charset "utf-8";

body {
    font-family: 'Open Sans', 'Zen Maru Gothic', 'Noto Color Emoji', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    text-size-adjust: 100%;
    font-feature-settings: "palt" 1;
    background-color: #0F0;
    width: 400px;
    height: auto;
}

p {
    font-size: 1.25em;
}

.nextShinyProbability,
.traials,
.shingleShinyProbability {
    width: 180px;
    box-sizing: border-box;
    border: solid 1px rgba(33,33,33,.5);
    background-color: #fff;
    margin: .25em 0;
    padding: .25em;
    border-radius: 6px;
}

.nextShinyProbability > p,
.traials > p,
.shingleShinyProbability > p,
.traialsInput,
.traialsInputButton,
.shingleShinyProbabilityInput {
    font-size: 1.25em;
}

.nextShinyProbability,
.traials,
.shingleShinyProbability,
.traialsInput,
.shingleShinyProbabilityInput {
    text-align: center;
    margin: .25em 0;
    color: #333;
}

.traialsInput,
.shingleShinyProbabilityInput {
    width: 100px;
    height: 1.25em;
}

.traialsInputButton {
    /* -3emで調整 */
    width: calc((180px - 2.5em)/2);
    height: 1.5em;
}

.shingleShinyProbability > p,
.traials > p {
    margin: .25em;
    color: #333;
}

/*
スピンボタンを無効
*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type="number"] {
  -moz-appearance:textfield;
} */

hr{
    border: solid .1px#333;
    width: 80%;
    margin: .1em auto;
}
