/* ShinyProbability */

@charset "utf-8";

body {
    font-family: 'Open Sans', 'Zen Maru Gothic', 'Noto Color Emoji', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-size-adjust: 100%;
    -webkit-text-size-adjust:100%;
    font-feature-settings: "palt" 1;

    /* 背景色:緑 */
    /* background-color: #0F0; */
    background-color: #222;
    width: 100%;
    height: auto;
    margin: auto;

    /* 画面の中央になるように設定
    `343.2px`はbodyのheight値
    ※OBS側で元の確率を隠せなくなったので廃止
    */
    /* position: absolute;
    top: calc(50% - (301.2px) / 2); */

    /* ダブルタップでの動作を止める */
    touch-action: manipulation;
}

p {
    font-size: 1.25em;
}

.nextShinyProbability,
.traials,
.shingleShinyProbability {
    width: 180px;
    box-sizing: border-box;
    /* border: solid 1px rgba(33,33,33,.5); */
    background-color: rgba(0, 0, 0, .65);
    padding: .25em;
    border-radius: 6px;
}

.nextShinyProbability > p,
.traials > p,
.shingleShinyProbability > p,
.traialsInput,
.traialsInputButton,
.shingleShinyProbabilityInput {
    font-size: 1.25em;
}

.nextShinyProbability,
.traials,
.shingleShinyProbability,
.traialsInput,
.shingleShinyProbabilityInput {
    text-align: center;
    margin: .25em auto;
    /* color: #333; */
}

.traialsInput,
.shingleShinyProbabilityInput {
    width: 100px;
    height: 1.25em;
}

.traialsInputButton {
    /* -3emで調整 */
    width: calc((180px - 2.5em)/2);
    height: 1.5em;
}

.traialsInput,
.shingleShinyProbabilityInput,
.traialsInputButton {
    color: #fff;
    background-color: rgba(33, 33, 33, .65);
    /* box-shadow: 0 0 0 1px #aaa inset; */
    border: none;
}

.traialsInput,
.shingleShinyProbabilityInput {
    border-radius: 6px;
}


.traialsInputButton {
    box-shadow: 0 0 0 1px #aaa inset;
    border-radius: 1em;
}

.traialsInput:focus,
.shingleShinyProbabilityInput:focus,
.traialsInputButton:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}
.shingleShinyProbability > p,
.traials > p {
    margin: .25em;
    /* color: #333; */
}

/*
スピンボタンを無効
*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type="number"] {
  -moz-appearance:textfield;
} */

hr{
    /* border: solid .1px#333; */
    width: 80%;
    margin: .1em auto;
}

/* `nextShinyProbabilityTitle`はクラスとidで別もの */
.nextShinyProbabilityTitle>p {
    font-size: 1rem;
}

#nextShinyProbabilityTitle {
    font-size: 2rem;
}